Flask==2.0.1
# uWSGI==2.0.19.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
docker-compose==1.29.2
docker==5.0.2
requests==2.26.0
ruamel.yaml==0.17.16
celery[redis]==5.1.2
redis==3.5.3
gitpython==3.1.24
APScheduler==3.8.0

black
pytest