html {
  scroll-behavior: smooth;
}

/* set cloak for elements using alpinejs cloak */
[x-cloak] {
  display: none !important;
}

.osgs-footer {
  /* set fixed footer */
  position: fixed;
  height: 3rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  z-index: 1;
}

.nav-link-element {
  display: flex;
}

.toast {
  position: fixed;
  left: 0;
  bottom: 3rem;
  z-index: 2;
}

.show-toast {
  animation: fadeInUp;
  animation-duration: 2s;
}

.hide-toast {
  animation: fadeOutDown;
  animation-duration: 2s;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.75;
  z-index: 9;
}
