{% extends "_base.html" %}

{% from 'components/_menu.html' import menu_item_pro_tag as pro_tag %}
{% from 'components/_menu.html' import menu_item_link as menu_link %}
{% from 'components/_menu.html' import menu_top_item_link as top_link %}

{% block mainstyles %}
<style>
    .main-block {
        margin-top: -3rem;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .menu-block {
        max-height: 80vh;
        overflow: auto;
    }

    .content-block {
        max-height: 80vh;
        overflow: auto;
    }
</style>

{% block styles %}
{% endblock %}

{% endblock %}


{% block main %}

<section class="section main-block c-scroller-menu-simple">
    <div class="container content-block is-fullwidth has-text-centered">
        <div class="column is-12">
            <div class="columns">
                <div class="column is-4 menu-block has-text-left">
                    {% set config_section = request.args.get('section') %}
                    {% if config_section %}
                    {% set config_section_lower = config_section.lower() %}
                    {% else %}
                    {% set config_section_lower = None %}
                    {% endif %}
                    <aside class="menu">
                        <p class="menu-label">
                        General
                        </p>
                        <ul class="menu-list">
                            <li><a{% if request.path.rstrip("/") == "/config" and
                                config_section_lower not in ["config","env","compose"] %} class="is-active"
                                {% endif %} href="/config">System</a>
                                {% if request.path.rstrip("/") == "/config" %}
                                <ul>
                                    <li>
                                        {{ menu_link(target="config", section=config_section_lower,
                                        label="Configuration", ref="/config?section=config") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="env", section=config_section_lower,
                                        label="Environment", ref="/config?section=env") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="compose", section=config_section_lower,
                                        label="Docker Compose", ref="/config?section=compose") }}
                                    </li>
                                </ul>
                                {% endif %}
                            </li>
                            <li><a{%if request.path.rstrip("/") == "/config/setup" and
                                config_section_lower not in ["routes","repo","ops"] %} class="is-active"
                                {% endif %} href="/config/setup">Setup</a>
                                {% if request.path.rstrip("/") == "/config/setup" %}
                                <ul>
                                    <li>
                                        {{ menu_link(target="routes", section=config_section_lower,
                                        label="Routes", ref="/config/setup?section=routes") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="repo", section=config_section_lower,
                                        label="Repository", ref="/config/setup?section=repo") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="ops", section=config_section_lower,
                                        label="Operations", ref="/config/setup?section=ops") }}
                                    </li>
                                </ul>
                                {% endif %}
                            </li>
                        </ul>
                        <p class="menu-label">
                        Infrastructure
                        </p>
                        <ul class="menu-list">
                            <li><a{% if request.path.rstrip("/") == "/config/security" and
                                config_section_lower not in ["ssl","ssh","oauth","sso","vault"] %} class="is-active"
                                {% endif %} href="/config/security">Security</a>
                                {% if request.path.rstrip("/") == "/config/security" %}
                                <ul>
                                    <li>
                                        {{ menu_link(target="ssl", section=config_section_lower,
                                        label="SSL", ref="/config/security?section=ssl") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="ssh", section=config_section_lower,
                                        label="SSH", ref="/config/security?section=ssh") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="oauth", section=config_section_lower,
                                        label="OAuth", ref="/config/security?section=oauth") }}
                                    </li>
                                    <li>{{ pro_tag(target="sso", label="SSO", ref="/config/security?section=sso") }}</li>
                                    <li>{{ pro_tag(target="vault", label="Vault", ref="/config/security?section=vault") }}</li>
                                </ul>
                                {% endif %}
                            </li>
                            <li>{{ pro_tag(target="scale", label="Scalability", ref="/config/scale") }}</li>
                            <li>{{ pro_tag(target="monitor", label="Monitoring", ref="/config/monitor") }}</li>
                        </ul>
                        <p class="menu-label">
                        Applications
                        </p>
                        <ul class="menu-list">
                            <li>{{ top_link(label="Services", ref="/config/services") }}</li>
                            <li>{{ top_link(label="APIs", ref="/config/apis") }}</li>
                        </ul>
                        <p class="menu-label">
                        Advanced
                        </p>
                        <ul class="menu-list">
                            <li><li>{{ pro_tag(target="tasks", label="Tasks", ref="/config/tasks") }}</li></li>
                            <li><li>{{ top_link(label="Reset", ref="/config/reset") }}</li></li>
                            <li><a{% if request.path.rstrip("/") == "/config/backup" and
                                config_section_lower not in ["export","sync","manage"] %} class="is-active"
                                {% endif %} href="/config/backup">Backup</a>
                                {% if request.path.rstrip("/") == "/config/backup" %}
                                <ul>
                                    <li>
                                        {{ menu_link(target="export", section=config_section_lower,
                                        label="Export", ref="/config/backup?section=export") }}
                                    </li>
                                    <li>{{ pro_tag(target="sync", label="Sync", ref="/config/backup?section=sync") }}</li>
                                    <li>{{ pro_tag(target="manage", label="Manage", ref="/config/backup?section=manage") }}</li>
                                </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </aside>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>

{% endblock %}