{% extends "_base.html" %}

{% block mainstyles %}
<style>
    .main-block {
        margin-top: -3rem;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .menu-block {
        max-height: 80vh;
        overflow: auto;
    }

    .content-block {
        max-height: 80vh;
        overflow: auto;
    }

    .c-scroller-menu-simple {
        scrollbar-gutter: stable;
        scrollbar-width: thin;
        scrollbar-color: #485FC7 white;
    }

    .c-scroller-menu-simple ::-webkit-scrollbar-track {
        border: 2px solid white;
        /* // border color does not support transparent on scrollbar */
        /* // border-color: transparent; */
        background-color: #a0a0a0;
    }

    .c-scroller-menu-simple ::-webkit-scrollbar {
        width: 6px;
        background-color: white;
    }

    .c-scroller-menu-simple ::-webkit-scrollbar-thumb {
        background-color: #485FC7;
        border-radius: 4px;
    }
</style>

{% block styles %}
{% endblock %}

{% endblock %}


{% block main %}

<section class="section main-block c-scroller-menu-simple">
    <div class="container content-block is-fullwidth has-text-centered">
        <div class="column is-12">
            <div class="columns">
                <div class="column is-4 menu-block has-text-left">
                    {% set config_section = request.args.get('section') %}
                    {% if config_section %}
                    {% set config_section_lower = config_section.lower() %}
                    {% else %}
                    {% set config_section_lower = None %}
                    {% endif %}
                    <aside class="menu">
                        <p class="menu-label">
                        General
                        </p>
                        <ul class="menu-list">
                            <li><a{% if request.path == "/config" and
                                config_section_lower not in ["config","env","compose"] %} class="is-active"
                                {% endif %} href="/config">System</a>
                                {% if request.path == "/config" %}
                                <ul>
                                    <li><a{%if config_section_lower == "config" %} class="is-active"{% endif %}
                                        href="/config?section=config"
                                        >Configuration</a></li>
                                    <li><a{%if config_section_lower == "env" %} class="is-active"{% endif %}
                                        href="/config?section=env"
                                        >Environment</a></li>
                                    <li><a{%if config_section_lower == "compose" %} class="is-active"{% endif %}
                                        href="/config?section=compose"
                                        >Docker Compose</a></li>
                                </ul>
                                {% endif %}
                            </li>
                            <li><a{%if request.path == "/config/setup" and
                                config_section_lower not in ["routes","repo","ops"] %} class="is-active"
                                {% endif %} href="/config/setup">Setup</a>
                                {% if request.path == "/config/setup" %}
                                <ul>
                                    <li><a{% if config_section_lower == "routes" %} class="is-active"{% endif %}
                                        href="/config/setup?section=routes"
                                        >Routes</a></li>
                                    <li><a{% if config_section_lower == "repo" %} class="is-active"{% endif %}
                                        href="/config/setup?section=repo"
                                        >Repository</a></li>
                                    <li><a{%if config_section_lower == "ops" %} class="is-active"{% endif %}
                                        href="/config/setup?section=ops"
                                        >Operations</a></li>
                                </ul>
                                {% endif %}
                            </li>
                        </ul>
                        <p class="menu-label">
                        Infrastructure
                        </p>
                        <ul class="menu-list">
                            <li><a{% if request.path == "/config/security" and
                                config_section_lower not in ["ssl","ssh","oauth","sso","vault"] %} class="is-active"
                                {% endif %} href="/config/security">Security</a>
                                {% if request.path == "/config/security" %}
                                <ul>
                                    <li><a{%if config_section_lower == "ssl" %} class="is-active"{% endif %}
                                        href="/config/security?section=ssl"
                                        >SSL</a></li>
                                    <li><a{%if config_section_lower == "ssh" %} class="is-active"{% endif %}
                                        href="/config/security?section=ssh"
                                        >SSH</a></li>
                                    <li><a{%if config_section_lower == "oauth" %} class="is-active"{% endif %}
                                        href="/config/security?section=oauth"
                                        >OAuth</a></li>
                                    <li><a{%if config_section_lower == "sso" %} class="is-active"{% endif %}
                                        href="/config/security?section=sso"
                                        class="is-flex is-justify-content-space-between not-active"
                                        >SSO
                                        <div class="tags has-addons">
                                            <span class="tag is-link is-light is-rounded"><i class="material-icons" title="Enterprise Feature">star</i></span>
                                            <span class="tag is-link is-rounded">Pro</span>
                                        </div>
                                        </a></li>
                                    <li><a{%if config_section_lower == "vault" %} class="is-active"{% endif %}
                                        href="/config/security?section=vault"
                                        class="is-flex is-justify-content-space-between not-active"
                                        >Vault
                                        <span class="tag is-link is-light is-rounded">Pro</span>
                                        </a></li>
                                </ul>
                                {% endif %}
                            </li>
                            <li><a class="is-flex is-justify-content-space-between">
                                Scalability
                                <span class="tag is-link is-light not-active">Enterprise</span>
                            </a></li>
                            <li><a class="is-flex is-justify-content-space-between">
                                Monitoring
                                <span class="tag is-link is-light not-active">Enterprise</span>
                            </a></li>
                        </ul>
                        <p class="menu-label">
                        Applications
                        </p>
                        <ul class="menu-list">
                            <li><a{% if request.path == "/config/services" %} class="is-active"
                                {% endif %} href="/config/services">Services</a></li>
                            <li><a{% if request.path == "/config/apis" %} class="is-active"
                                {% endif %} href="/config/apis">APIs</a></li>
                        </ul>
                        <p class="menu-label">
                        Advanced
                        </p>
                        <ul class="menu-list">
                            <li><a class="is-flex is-justify-content-space-between not-active">
                                Tasks
                                <span class="tag is-link is-light">Enterprise</span>
                            </a></li>
                            <li><a{% if request.path == "/config/reset" %} class="is-active"
                                {% endif %} href="/config/reset">Reset</a></li>
                            <li><a{% if request.path == "/config/backup" and
                                config_section_lower not in ["export","sync","manage"] %} class="is-active"
                                {% endif %} href="/config/backup">Backup</a>
                                {% if request.path == "/config/backup" %}
                                <ul>
                                    <li><a{%if config_section_lower == "export" %} class="is-active"{% endif %}
                                        href="/config/backup?section=export"
                                        >Export</a></li>
                                    <li><a{%if config_section_lower == "sync" %} class="is-active"{% endif %}
                                        href="/config/backup?section=sync"
                                        class="is-flex is-justify-content-space-between not-active"
                                        >Sync
                                        <span class="tag is-link is-light is-rounded">Pro</span>
                                        </a></li>
                                    <li><a{%if config_section_lower == "manage" %} class="is-active"{% endif %}
                                        href="/config/backup?section=manage"
                                        class="is-flex is-justify-content-space-between not-active"
                                        >Manage
                                        <span class="tag is-link is-light is-rounded">Pro</span>
                                        </a></li>
                                </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </aside>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>

{% endblock %}