{% extends "_base.html" %}

{% from 'components/_menu.html' import menu_item_pro_tag as pro_tag %}
{% from 'components/_menu.html' import menu_item_link as menu_link %}
{% from 'components/_menu.html' import menu_top_item_link as top_link %}

{% block mainstyles %}
<style>
    .main-block {
        margin-top: -3rem;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .menu-block {
        max-height: 80vh;
        overflow: auto;
    }

    .content-block {
        max-height: 80vh;
        overflow: auto;
    }

    .c-scroller-menu-simple {
        scrollbar-gutter: stable;
        scrollbar-width: thin;
        scrollbar-color: #485FC7 white;
    }

    .c-scroller-menu-simple ::-webkit-scrollbar-track {
        border: 2px solid white;
        /* // border color does not support transparent on scrollbar */
        /* // border-color: transparent; */
        background-color: #a0a0a0;
    }

    .c-scroller-menu-simple ::-webkit-scrollbar {
        width: 6px;
        background-color: white;
    }

    .c-scroller-menu-simple ::-webkit-scrollbar-thumb {
        background-color: #485FC7;
        border-radius: 4px;
    }
</style>

{% block styles %}
{% endblock %}

{% endblock %}


{% block main %}

<div class="main-block c-scroller-menu-simple">
    <div class="container content-block is-fullwidth has-text-centered">
        <div class="column is-12">
            <h5 class="title is-5 has-text-left">Welcome{% if firstname %}, {{ firstname }}{% endif %}{% if lastname %} {{ lastname }}{% endif %}!</h3>
            <div class="columns">
                <div class="column is-4 menu-block has-text-left">
                    {% set config_section = request.args.get('section') %}
                    {% if config_section %}
                    {% set config_section_lower = config_section.lower() %}
                    {% else %}
                    {% set config_section_lower = None %}
                    {% endif %}
                    <aside class="menu">
                        <p class="menu-label">
                        General
                        </p>
                        <ul class="menu-list">
                            <li><a{% if request.path == "/dashboard" and
                                config_section_lower not in ["services","resources","status"] %} class="is-active"
                                {% endif %} href="/dashboard">System</a>
                                {% if request.path == "/dashboard" %}
                                <ul>
                                    <li>
                                        {{ menu_link(target="services", section=config_section_lower,
                                        label="Services", ref="/dashboard?section=services") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="resources", section=config_section_lower,
                                        label="Resources", ref="/dashboard?section=resources") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="status", section=config_section_lower,
                                        label="Status", ref="/dashboard?section=status") }}
                                    </li>
                                </ul>
                                {% endif %}
                            </li>
                            <li><a{% if request.path == "/dashboard/docker" and
                                config_section_lower not in ["containers","compose","networks"] %} class="is-active"
                                {% endif %} href="/dashboard/docker">Docker</a>
                                {% if request.path == "/dashboard/docker" %}
                                <ul>
                                    <li>
                                        {{ menu_link(target="containers", section=config_section_lower,
                                        label="Containers", ref="/dashboard/docker?section=containers") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="compose", section=config_section_lower,
                                        label="Compose", ref="/dashboard/docker?section=compose") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="networks", section=config_section_lower,
                                        label="Networks", ref="/dashboard/docker?section=networks") }}
                                    </li>
                                </ul>
                                {% endif %}
                            </li>
                            <li><a{% if request.path == "/dashboard/osgs" and
                                config_section_lower not in ["services","traffic","status"] %} class="is-active"
                                {% endif %} href="/dashboard/osgs">OSGS</a>
                                {% if request.path == "/dashboard/osgs" %}
                                <ul>
                                    <li>
                                        {{ menu_link(target="services", section=config_section_lower,
                                        label="Services", ref="/dashboard/osgs?section=services") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="traffic", section=config_section_lower,
                                        label="Traffic", ref="/dashboard/osgs?section=traffic") }}
                                    </li>
                                    <li>
                                        {{ menu_link(target="status", section=config_section_lower,
                                        label="Status", ref="/dashboard/osgs?section=status") }}
                                    </li>
                                </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </aside>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}