{% extends "_main.html" %}

{% block styles %}<style>
    .user-table{
        max-height: 40vh;
        overflow: auto;
    }
</style>
{% endblock %}

{% block content %}

<div class="column is-10 is-offset-1">
    <h3 class="title">Users</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-info">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}
        <table class="table user-table is-fullwidth has-text-centered">
            <thead>
                <tr>
                    <th>
                        {% if sort == 'id' and order != 'desc' %}
                        <a href="/users?sort=id&order=desc">
                        {% elif sort == 'id' and order == 'desc' %}
                        <a href="/users?sort=id&order=asc">
                        {% else %}
                        <a href="/users?sort=id">
                        {% endif %}
                            <abbr title="User ID">ID</abbr>
                            <i class="material-icons is-small is-size-7">import_export</i>
                        </a>
                    </th>
                    <th>
                        {% if sort == 'username' and order != 'desc' %}
                        <a href="/users?sort=user&order=desc">
                        {% elif sort == 'username' and order == 'desc' %}
                        <a href="/users?sort=user&order=asc">
                        {% else %}
                        <a href="/users?sort=user">
                        {% endif %}
                            <abbr title="Username">User</abbr>
                            <i class="material-icons is-small is-size-7">import_export</i>
                        </a>
                    </th>
                    <th>
                        {% if sort == 'firstname' and order != 'desc' %}
                        <a href="/users?sort=first&order=desc">
                        {% elif sort == 'firstname' and order == 'desc' %}
                        <a href="/users?sort=first&order=asc">
                        {% else %}
                        <a href="/users?sort=first">
                        {% endif %}
                            <abbr title="First Name">First</abbr>
                            <i class="material-icons is-small is-size-7">import_export</i>
                        </a>
                    </th>
                    <th>
                        {% if sort == 'lastname' and order != 'desc' %}
                        <a href="/users?sort=last&order=desc">
                        {% elif sort == 'lastname' and order == 'desc' %}
                        <a href="/users?sort=last&order=asc">
                        {% else %}
                        <a href="/users?sort=last">
                        {% endif %}
                            <abbr title="Last Name">Last</abbr>
                            <i class="material-icons is-small is-size-7">import_export</i>
                        </a>
                    </th>
                    <th><abbr title="User Actions"></abbr>

                    <form action="/users/create">
                        <button class="button is-success is-small">
                            <span class="icon">
                                <i class="material-icons">add</i>
                            </span>
                        </button>
                    </form>

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in userlist.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>
                        <span>
                            <a href="/users/delete/{{ user.id }}">
                                <button class="button is-danger is-small">
                                    <span class="icon">
                                        <i class="material-icons">delete</i>
                                    </span>
                                </button>
                            </a>
                            <a href="/users/edit/{{ user.id }}">
                                <button class="button is-info is-small">
                                    <span class="icon">
                                        <i class="material-icons">edit</i>
                                    </span>
                                </button>
                            </a>
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        <nav class="pagination" role="navigation" aria-label="pagination">

            <a  href="{{ url_for('auth.page_users', page=userlist.prev_num) }}"
            class="pagination-previous"
            {% if userlist.page == 1 %}disabled{% endif %}>Previous</a>

            <a href="{{ url_for('auth.page_users', page=userlist.next_num) }}"
            class="pagination-next"
            {% if userlist.page == userlist.pages %}disabled{% endif %}>Next page</a>

            <ul class="pagination-list">
            {% for page_num in userlist.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if userlist.page == page_num %}
                    <li>
                        <a href="{{ url_for('auth.page_users', page=page_num) }}"
                        class="pagination-link is-current"
                        aria-current="page"
                        aria-label="Goto page {{page_num}}">{{page_num}}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('auth.page_users', page=page_num) }}"
                        class="pagination-link"
                        aria-label="Goto page {{page_num}}">{{page_num}}</a>
                    </li>
                    {% endif %}
                {% else %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
            {% endfor %}
            </ul>

          </nav>

          <p class="has-text-grey-light">
            Page {{ userlist.page }} of {{ userlist.pages }}
          </p>

    </div>
</div>

{% endblock %}