{% extends "_config.html" %}

{% from 'components/_inputs.html' import form_input_field %}
{% from 'components/_inputs.html' import form_info_field %}

{% block content %}

<div class="column is-8 content-block">
    {% set config_section = request.args.get('section') %}
    {% if config_section %}
    {% set config_section_lower = config_section.lower() %}
    {% else %}
    {% set config_section_lower = None %}
    {% endif %}

    {% if config_section_lower == "routes" %}
    <h3 class="title">Export</h3>
    {% else %}
    <h3 class="title">Backup</h3>
    {% endif %}

    <div class="box">
        {% with messages = get_flashed_messages(category_filter!=["error"]) %}
        {% if messages %}
        <div class="notification is-info">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}


    {% if config_section_lower == "export" %}

    Export Content
    <br>
    export backups (config/ snapshots/ etc)

    {% else %}

    Tips and info on backups, where data is stored, links to docs, stats on last backups.

    {% endif %}


    </div>
</div>

{% endblock %}