{% extends "_config.html" %}

{% from 'components/_inputs.html' import form_input_field %}
{% from 'components/_inputs.html' import form_info_field %}

{% block content %}

<div class="column is-8 content-block">
    {% set config_section = request.args.get('section') %}
    {% if config_section %}
    {% set config_section_lower = config_section.lower() %}
    {% else %}
    {% set config_section_lower = None %}
    {% endif %}

    {% if config_section_lower == "config" %}
    <h3 class="title">System Configuration</h3>
    {% elif config_section_lower == "env" %}
    <h3 class="title">Environment Configuration</h3>
    {% elif config_section_lower == "compose" %}
    <h3 class="title">Docker Compose</h3>
    {% else %}
    <h3 class="title">System Information</h3>
    {% endif %}

    <div class="box">
        {% with messages = get_flashed_messages(category_filter!=["error"]) %}
        {% if messages %}
        <div class="notification is-info">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}

    remember to add option for user specified docker registry

    {% if config_section_lower == "config" %}


    {{ form_input_field(target='name', route='/config/osgs/', label='Application Name',
    value=osgs.name, content='
    The application name, which will appear all over the show,
    <br>such as web pages, map layouts and more.
    ') }}


    {{ form_input_field(target='fqdn', route='/config/osgs/', label='Domain Name',
    value=osgs.fqdn, content='
    The fully qualified domain name,
    <br>which is very important for ssl.
    ') }}

    {{ form_input_field(target='root', route='/config/osgs/', label='OSGS Root',
    value=osgs.root.replace("\\","/"), content='
    The root application base directory path,
    <br>which is where the git repo will clone to.
    ') }}

    {{ form_input_field(target='repo', route='/config/osgs/', label='Target Repository',
    value=osgs_config["osgs_repo"], content='
    This field specifies the remote target address
    <br>for the OSGS parent git repository which
    <br>is used to initialize the stack.
    <br><br>
    The address may be specified in URL format,
    <br>e.g. https://github.com/kartoza/osgs
    <br><br>
    SSH connection format will attempt to use the
    <br>system default keys, but is not currently supported.
    <br>
    git@github.com:kartoza/osgs.git
    ') }}


    {% elif config_section_lower == "env" %}

    Environment Variable content
    <br>
    Setup CRUD for osgs/.env

    {% elif config_section_lower == "compose" %}

    Compose Content
    <br>
    Setup CRUD for osgs/docker-compose.yaml

    {% else %}

        {% set osgs_setup = True %}
        {% set osgs_errors = False %}
        {% if not osgs_setup %}

        Initial setup has not been run

        {% elif osgs_errors %}

        There seem to be inconsistencies in the application config

        {% else %}

        {{ form_info_field(value="0.01", label='OSGS Admin Version') }}
        {{ form_info_field(value=osgs.name, label='System Name', title='Site and System Name') }}
        {{ form_info_field(value=osgs.fqdn, label='Domain Name', title='Site FQDN') }}

        {% endif %}
    {% endif %}


    </div>
</div>

{% endblock %}