{% extends "_config.html" %}

{% from 'components/_inputs.html' import form_checkbox_field %}

{% block content %}

<div class="column is-8 content-block">

    <h3 class="title">System Reset</h3>

    <div class="box">
        {% with messages = get_flashed_messages(category_filter!=["error"]) %}
        {% if messages %}
        <div class="notification is-info">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}

        <div class="py-2">
        <form method="POST" action="/config/reset/stack">
            <button class="button is-block is-info is-medium is-fullwidth">Restart Stack</button>
        </form>
        </div>

        <div class="py-2">
            <form method="POST" action="/config/reset/config">
                <button class="button is-block is-info is-medium is-fullwidth">Reset Config</button>
            </form>
        </div>

        <div class="py-2">
            <form method="POST" action="/config/reset/nuke">
                <button class="button is-block is-info is-medium is-fullwidth">Remove Volumes</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}