{% extends "_config.html" %}

{% from 'components/_inputs.html' import form_input_field %}
{% from 'components/_inputs.html' import form_info_field %}

{% block content %}

<div class="column is-8 content-block">
    {% set config_section = request.args.get('section') %}
    {% if config_section %}
    {% set config_section_lower = config_section.lower() %}
    {% else %}
    {% set config_section_lower = None %}
    {% endif %}

    {% if config_section_lower == "ssl" %}
    <h3 class="title">SSL</h3>
    {% elif config_section_lower == "ssh" %}
    <h3 class="title">SSH</h3>
    {% elif config_section_lower == "oauth" %}
    <h3 class="title">OAuth</h3>
    {% else %}
    <h3 class="title">Security Configuration</h3>
    {% endif %}

    <div class="box">
        {% with messages = get_flashed_messages(category_filter!=["error"]) %}
        {% if messages %}
        <div class="notification is-info">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}


    {% if config_section_lower == "ssl" %}

    SSL Content
    <br>
    Configure selfsigned/ user supplied/ lets encrypt. Generate or refresh certificates.

    {% elif config_section_lower == "ssh" %}

    SSH Content
    <br>
    Manage keys, known hosts, trusted clients etc

    {% elif config_section_lower == "oauth" %}

    Configure different services to use oauth provider

    {% else %}

    Get some security info, tips, and stats (users/ activity/ logs etc).
    Set general options liek IP whitelists etc.

    {% endif %}


    </div>
</div>

{% endblock %}