{% extends "_config.html" %}

{% from 'components/_inputs.html' import form_checkbox_field %}

{% block content %}

<div class="column is-8 content-block">

    <h3 class="title">Services</h3>

    <div class="box">
        {% with messages = get_flashed_messages(category_filter!=["error"]) %}
        {% if messages %}
        <div class="notification is-info">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST" action="/config/services">
            <div class="field has-items-centered">
                <div class="field-label is-large has-text-centered">
                    <label class="label">Core Services</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <div class="columns px-4 is-justify-content-space-between">
                                {{ form_checkbox_field(name="postgresql", label="PostgreSQL",
                                                    checked=True, disabled=True,
                                    content='PostgreSQL is the backend database service for the OSGS.
                                            <br>
                                            This service is required and cannot be disabled.') }}
                                {{ form_checkbox_field(name="qgisserver", label="QGIS Server",
                                                    checked=True, disabled=False,
                                    content='QGIS Server provides the default experience for OSGS services.') }}
                                {{ form_checkbox_field(name="website", label="Website",
                                                    checked=True, disabled=False,
                                    content='The OSGS website is a static Site Server') }}
                                {{ form_checkbox_field(name="scp", label="SCP",
                                                    checked=True,
                                    content='The SCP, or Secure Copy Protocol service, provides access
                                            <br>
                                            to the OSGS filesystem. Use nautilus for Gnome or WinSCP for windows.') }}
                            </div>
                            <div class="columns px-4 is-justify-content-space-between">
                                <div class="column"></div>
                                {{ form_checkbox_field(name="mapproxy", label="MapProxy",
                                                    checked=True, disabled=False,
                                    content='MapProxy provides robust tile caching and metatiling for map services.') }}
                                {{ form_checkbox_field(name="dockerosm", label="Docker OSM",
                                                    checked=True, disabled=False,
                                    content='Download and regularly sync OpenStreetMap data into PostgreSQL.') }}
                                {{ form_checkbox_field(name="nodered", label="NodeRed",
                                                    checked=True, disabled=False,
                                    content='Build out pipelines, workflows, dashboards, and more.') }}
                                <div class="column"></div>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="field-label is-large has-text-centered">
                    <label class="label">Additional Services</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <div class="columns px-4 is-justify-content-space-between">
                                <div class="column"></div>
                                {{ form_checkbox_field(name="qgisdesktop", label="QGIS Desktop",
                                    content='This service provides a QGIS Desktop instance accessible via browser.') }}
                                {{ form_checkbox_field(name="geoserver", label="Geoserver",
                                    content='Geoserver.') }}
                                <div class="column"></div>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="field-label is-large has-text-centered">
                    <label class="label">API Services</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <div class="columns px-4 is-justify-content-space-between">
                                <div class="column"></div>
                                {{ form_checkbox_field(name="postgrest", label="PostgREST",
                                    content='Turns the database into an API.') }}
                                {{ form_checkbox_field(name="openapi", label="OpenAPI",
                                    content='OpenAPI, formerly swagger, provides a standard for API specification.') }}
                                <div class="column"></div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <button class="button is-block is-info is-medium is-fullwidth">Update</button>
        </form>
    </div>
</div>

{% endblock %}