{% extends "_config.html" %}

{% from 'components/_inputs.html' import form_input_field %}
{% from 'components/_inputs.html' import form_info_field %}

{% block content %}

<div class="column is-8 content-block">
    {% set config_section = request.args.get('section') %}
    {% if config_section %}
    {% set config_section_lower = config_section.lower() %}
    {% else %}
    {% set config_section_lower = None %}
    {% endif %}

    {% if config_section_lower == "routes" %}
    <h3 class="title">Application Routes</h3>
    {% elif config_section_lower == "repo" %}
    <h3 class="title">Repository</h3>
    {% elif config_section_lower == "ops" %}
    <h3 class="title">Operations</h3>
    {% else %}
    <h3 class="title">System Setup</h3>
    {% endif %}

    <div class="box">
        {% with messages = get_flashed_messages(category_filter!=["error"]) %}
        {% if messages %}
        <div class="notification is-info">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}


    {% if config_section_lower == "routes" %}

    Routes Content
    <br>
    Configure service endpoints, routes, aliases, and vanity URLs (e.g. renaming "/qgis" to "maps")

    {% elif config_section_lower == "repo" %}

    Repository Content
    <br>
    Change, sync, commit, and other gitops

    {% elif config_section_lower == "ops" %}

    Operations Content
    <br>
    Run tasks, jobs, or maintenance operations

    {% else %}

    Setup has either be initialised or it hasn't. Run a wizard, error checks, migrations, or updates here.

    {% endif %}


    </div>
</div>

{% endblock %}