{% extends "_main.html" %}

{% block content %}
Ain't nuthin ta see here

<form method="POST" action="/task/example">
    <div class="label is-large">example task creation</div>
    <button class="button is-block is-success is-large is-fullwidth">Initiate</button>
</form>

<br>
<br>

{% if not result %}
<p>
<br>
</p>
{% endif %}
{% if result %}
<p>
    {{ result.id }}
</p>
<p>
    <a href="/task/progress/{{ result.id }}">
        Progress
    </a>
</p>
<p>
    <a href="/task/status/{{ result.id }}">
        Status
    </a>
</p>
{% endif %}

{% endblock %}