{%- macro modal(target, btn='Open', classes='is-info', name='Information', content='') -%}
{% set operation = [target|replace(" ","")|lower,'IsOpen']|join %}
<div x-data="{ {{ operation }}: false }" x-on:keydown.escape="{{ operation }} = false">
    <button class="button {{ classes }}" x-on:click="{{ operation }} = true">{{ btn }}</button>
    <div
    class="modal is-8 is-offset-2"
    role="dialog"
    tabindex="-1"
    x-show="{{ operation }}"
    x-on:click.away="{{ operation }} = false"
    x-cloak
    x-transition
    >
      <div class="modal-inner message {{ classes }}">
        <div class="modal-header message-header">
          <p>{{ name }}</p>
          <button class="delete is-large" aria-label="delete" x-on:click="{{ operation }} = false"></button>
        </div>
        <p class="modal-content content message-body">{{ content|safe }}</p>
      </div>
  </div>
  <div class="modal-overlay" x-show="{{ operation }}" x-cloak></div>
</div>
{%- endmacro -%}


{%- macro help(target, classes='is-info', name='Information', content='') -%}
{% set operation = [target|replace(" ","")|lower,'IsOpen']|join %}
<div x-data="{ {{ operation }}: false }" x-on:keydown.escape="{{ operation }} = false">
    <button class="button {{ classes }}" x-on:click="{{ operation }} = true">
      <i class="material-icons" title="Help">help</i>
    </button>
    <div
    class="modal is-8 is-offset-2"
    role="dialog"
    tabindex="-1"
    x-show="{{ operation }}"
    x-on:click.away="{{ operation }} = false"
    x-cloak
    x-transition
    >
      <div class="modal-inner message {{ classes }}">
        <div class="modal-header message-header">
          <p>{{ name }}</p>
          <button class="delete is-large" aria-label="delete" x-on:click="{{ operation }} = false"></button>
        </div>
        <p class="modal-content content message-body">{{ content|safe }}</p>
      </div>
  </div>
  <div class="modal-overlay" x-show="{{ operation }}" x-cloak></div>
</div>
{%- endmacro -%}
